<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= t("terms") %>
                <small><%= t("terms") %></small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to t("home"), root_path %>
                </li>
                <li class="active"><%= t("terms") %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
        <p>
        The terms and conditions stated herein (collectively, the “Agreement”) constitute a legal agreement between you and Letsapp Limited Limited,  (a limited liability company incorporated under the laws of Hong Kong) and associated companies (the “Company”, “we or “us”). By using or receiving any services supplied to you by the Company (collectively, the “Service”), you hereby expressly acknowledge and agree to be bound by the terms and conditions of the Agreement.    
        </p>
        <p>
        The Company reserves the right to modify the terms and conditions of this Agreement or its policies relating to the Service or the app at any time, effective upon posting of an updated version of this Agreement on the Service or Application. You are responsible for regularly reviewing this agreement. Continued use of the service and the app after such changes shall constitute your consent to such changes.    
        </p>
        <p>
        The Company does not provide recruitment services, and the company is not an employment agency.  It is up to the client (the third party) to offer employment which may be scheduled through use of our services.  The company offers information and methods to obtain such third party employers, but does not intend to provide recruitment services or act in an y way as an employment agency, and has no responsibility or liability for any recuriment services provided to you by such third party. 
        </p>

        <ol>
            <li>
                <strong>Service Connects Service Providers and Clients</strong>
                <p>Our Service is a communications platform which enables the connection between Clients and Service Providers. Clients are individuals and/or businesses seeking to obtain nursing services ("Tasks") from Nurses ("Taskers") and are therefore clients of Taskers, and Taskers are individuals seeking to perform nursing service for Clients. Clients and Taskers together are hereinafter referred to as “Users.”
                </p>
                <p>the service ONLY provide a Venue</p>
                <p>The Service is a platform for enabling connections between Users for the fulfillment of Tasks, but Company is not responsible for the performance of Users, nor does it have control over the quality, timing, legality, failure to provide, or any other aspect whatsoever of Tasks Clients, nor of the integrity, responsibility or any of the actions or omissions whatsoever of any Users. Company does not have control over the quality, timing or legality of Tasks delivered by its Taskers. Company makes no representations about the suitability, reliability, timeliness, or accuracy of the Tasks requested and provided by Users identified through the Service whether in public, private, or offline interactions.</p>
            </li>
                <strong>User Vetting</strong>
                <p>Clients and Taskers are subject to an extensive vetting process before they are approved to use the service and during their use of the Service, including but not limited to a verification of identity and professinal qualification and a comprehensive criminal check in Hong Kong. Users hereby give consent to Company to conduct background checks as often as required in compliance with laws within the governing jurisdiction.
                </p>
                <p>Although Company may perform background checks of Users, as outlined above, Company cannot confirm that each User is who they claim to be and therefore, Company cannot and does not assume any responsibility for the accuracy or reliability identity or background check information or any information provided through the Service.
                </p>
            <li>
                <strong>Billing and Payment</strong>
                <p>Users of the Service contract for Tasks directly with other Users. Company will not be a party to any contracts for Tasks or services. Clients of the Service will be required to provide their credit card information to the Payment Service Provider (the “PSP”).  Company will NOT retain your credit card information.  Taskers are required to provide bank account details to Company for weekly payment.
                </p>
                <p>Clients will be responsible for paying each Task (the “Service”) provided by a Tasker (“Task Payment”).  Clients may be charged a cancellation fee if you book a Task, but cancel it before it is completed, as set forth in the Task pricing terms. Company reserves the right, in its sole discretion (but not the obligation), to (i) place on hold any Task Payment and out of pocket expenses, or (ii) refund, provide credits or arrange for the PSP to do so.
                </p>
                <p>By using the Service, Client acknowledges that Taskers referred to Client under this agreement are referred in relation to any - short term, part-time, contract, consultative or any basis of employment - Tasks. Should Client decide to hire any Taskers introduced under the Terms of this agreement - on a part-time, contract, consultative or any basis of employment separate from this original permanent arrangement – Client will be liable to pay the relevant agency fee, as shown on the Platform. 
                </p>
                <p>In the event Client offers other Tasks or employment - on any basis - within 3 months of Tasker introduction through Company, Client shall pay Company the relevant Service Fee. The Agreement is that Company’s Service Fee will apply to any Taskers, initiated, referred or listed by Company for a specific Task, or any alternate Tasks or employment opportunities (contracted or permanent) offered and employed by Client or a subsidiary, affiliate, or related company, within this timeframe, whether in the capacity of a Tasker or an employee. The introduction effected by Company to Client is confidential and is not for referral to any outside third party not legally associated with Client. Regardless of the length of the Task Duration, the calculation of the Conversion Fee from temporary to permanent is based on 5 X 8-hours services remuneration. Please note that any Tasker presented to, and placed in Client remains a Company Tasker from the date of introduction to Client.
                </p>
            </li>
            <li>
                <strong>Release</strong>
                <p>The Service is only a venue for connecting Users. Because Company is not involved in the actual contact between Users or in the completion of the Task, in the event that you have a dispute with one or more Users, you release Company (and our officers, directors, agents, investors, subsidiaries, and employees) from any and all claims, demands, or damages (actual or consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.
                </p>
                <p>Company expressly disclaims any liability that may arise between Users of its Service.
                </p>
            <li>
            </li>
                <strong>Account, Password and Security</strong>
                <p>You must register with Company and create an account to use the Service. You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password and account number provided by you or Company for accessing the Service. You are solely and fully responsible for all activities that occur under your password or account. Company has no control over the use of any User’s account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you will contact Company immediately.
                </p>
                <p>By providing your mobile phone number and using the Service, you hereby affirmatively consent to our use of your mobile phone number for calls and texts in order to perform and improve upon the Service. Company will not assess any charges for calls or texts, but standard message charges or other charges from your wireless carrier may apply. You may opt-out of receiving text messages from us by modifying your account settings on the Site or Company’s mobile application,  
                </p>
            <li>
            </li>
                <strong>User Classification and Withholdings</strong>
                <p>Each User assumes all liability for proper classification of such User’s workers as independent contractors or employees based on applicable legal guidelines. Users do not have authority to enter into written or oral — whether implied or express — contracts on behalf of Company. Each User acknowledges that Company does not, in any way, supervise, direct, or control a Tasker’s work or Tasks performed in any manner. Company does not set a Tasker’s work hours or location of work. Company will not provide any equipment, labor or materials needed for a particular Task.
                </p>
                <p>You agree to indemnify, hold harmless and defend Company from any and all claims that a Tasker was misclassified as an independent contractor, any liabilities arising from a determination by a court, arbitrator, government agency or other body that a Tasker was misclassified as an employee (including, but not limited to, taxes, penalties, interest and attorney’s fees), any claim that Company was an Tasker or joint Tasker of a Tasker, as well as claims under any employment-related laws, such as those relating to employment termination, employment discrimination, harassment or retaliation, as well as any claims for overtime pay, sick leave, holiday or vacation pay, retirement benefits, worker’s compensation benefits, unemployment benefits, or any other employee benefits. 
                </p>
            <li>
            </li>
                <strong>Termination and Suspension</strong>
                <p>Without limitation, Company may terminate or suspend your right to use the Service if you breach any term of this Agreement (including the Marketplace Guidelines) or any policy of Company posted through the Service from time to time, or if Company otherwise finds that you have engaged in inappropriate and/or offensive behavior. If Company terminates or suspends your right to use the Service for any of these reasons, you will not be entitled to any refund of unused balance in your account. If Company terminates or suspends your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. In addition to terminating or suspending your account, Company reserves the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress. Even after your right to use the Service is terminated or suspended, this Agreement will remain enforceable against you.
                </p>
                <p>You may terminate this Agreement at any time by ceasing all use of the Service. All sections which by their nature should survive the expiration or termination of this Agreement shall continue in full force and effect subsequent to and notwithstanding the expiration or termination of this Agreement.
                </p>
            <li>
            </li>
                <strong>Indemnification</strong>
                <p>you acknowledge and agree that company is only willing to provide the service if you agree to certain limitations of our liability to you and third parties. therefore, you agree not to hold company, its affiliates, its licensors, its clients in promotions, sweepstakes or contests, or any of such parties’ agents, employees, officers, directors, corporate clients, or participants liable for any damage, suits, claims, and/or controversies (collectively, “liabilities”) that have arisen or may arise, whether known or unknown, relating to your or any other party’s use of or inability to use the service, including without limitation any liabilities arising in connection with the conduct, act or omission of any user (including without limitation stalking, harassment that is sexual or otherwise, acts of physical violence, and destruction of personal property), any dispute with any user, any instruction, advice, act, or service provided by company or its affiliates or licensors and any destruction of your information.
                </p>
                <p>under no circumstances will company, its affiliates, its licensors, or any of such parties’ agents, employees, officers, directors, corporate clients, or participants be liable for any direct, indirect, incidental, consequential, special or exemplary damages arising in connection with your use of or inability to use the services, even if advised of the possibility of the same. some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitations may not apply to you.
                </p>
        
        </ol>

            <p>I hereby acknowledge that i have read and understand the foregoing terms of service, privacy policy and marketplace guidelines and agree that my use of the service is an acknowledgment of my agreement to be bound by the terms and conditions of this agreement.
            </p>
            <p>In the event of any conflict between the English and other language versions, the English version shall prevail.
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->